.SearchResults {
  /* width: 60%; */
  width: calc(50% - 70px);
  max-width: 50%;
  height: 650px;
  overflow-y: scroll;
  margin-top: 50px;
  padding: 0.7rem;
  background-color: rgba(89, 5, 114, 0.7);
  box-shadow: 0px 0px 2px 2px #000000;
}

.SearchResults h2 {
  text-align: center;
  font-size: 50px;
  text-shadow: 8px 8px 12px #000000;
  margin-top: 20px;
  margin-bottom: 30px;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020) {
  .SearchResults {
    width: 90%;
    max-width: 100%;
    margin: 0 auto 50px;
  }
}

@media only screen and (max-width: 600px) {
  .SearchResults {
    width: calc(100% - 20px); /*to account for the scrollbar */
    margin: 0 auto 50px; /* to center & space the elements*/
  }
}
