.SearchResults {
  width: calc(50% - 70px);
  height: 650px;
  overflow-y: scroll;
  margin-top: 2.778rem;
  padding: 0.7rem;
  background-color: rgba(89, 5, 114, 0.7);
  box-shadow: 0px 0px 2px 2px #000000;
}

.SearchResults h2 {
  text-align: center;
  font-size: 2.778rem;
  text-shadow: 8px 8px 12px #000000;
  margin-top: 1.111rem;
  margin-bottom: 1.667rem;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: calc(100% - 20px); /*to account for the scrollbar */
    margin: 30px auto 30px; /* to center & space the elements*/
  }
}
